---
import ProductCard from "../components/ProductCard.astro";
---

<section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mx-auto lg:ml-64">
  <ProductCard newBadge={true} titel="Større end os" imgPath="/single.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCard newBadge={} titel="Større end os" imgPath="/heks.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCard newBadge={true} titel="Større end os" newBadge1={true} imgPath="/rx.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="/element.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCard newBadge={true} titel="Større end os" newBadge1={true} imgPath="/single.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCard newBadge={} titel="Større end os" imgPath="/heks.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCard newBadge={true} titel="Større end os" newBadge1={true} imgPath="/rx.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
  <ProductCard newBadge={true} titel="Større end os" imgPath="/element.webp" imgPath1="/iphone.webp" imgPath2="/bookcard.webp" imgPath3="/headphone.webp" forfatter="Christina Bonde" part="Del 2 i serien" price="281 - 320 DKK" imgPath4="/star.webp" imgPath5="/star.webp" imgPath6="/star.webp" imgPath7="/star.webp" imgPath8="/stargrey.webp" />
</section>
